<div class="mat-elevation-z4">
    <table mat-table [dataSource]="storedProcedures"  aria-label="storedProcedures">
      
        <!-- Unidade Nome Column -->
      <ng-container matColumnDef="unidadeNome">
        <th mat-header-cell *matHeaderCellDef >Nome_Unidade</th>
        <td mat-cell *matCellDef="let row">{{row.unidadeNome}}</td>
      </ng-container>
  
      <!-- Unidade Id Column -->
      <ng-container matColumnDef="unidadeId">
        <th mat-header-cell *matHeaderCellDef >Cod_Unidade</th>
        <td mat-cell *matCellDef="let row">{{row.unidadeId}}</td>
      </ng-container>
  
      <!-- Ficha Id Column -->
      <ng-container matColumnDef="fichaId">
        <th mat-header-cell *matHeaderCellDef >Numero_ficha</th>
        <td mat-cell *matCellDef="let row">{{row.fichaId}}</td>
      </ng-container>

      <!-- Data Atendimento Column -->
      <ng-container matColumnDef="dataAtendimento">
        <th mat-header-cell *matHeaderCellDef >Data_Ficha</th>
        <td mat-cell *matCellDef="let row">{{row.dataAtendimento}}</td>
      </ng-container>

      <!-- Nome Completo Column -->
      <ng-container matColumnDef="clienteNome">
        <th mat-header-cell *matHeaderCellDef >Nome Completo</th>
        <td mat-cell *matCellDef="let row">{{row.clienteNome}}</td>
      </ng-container>     

      <!-- Data Nascimento Column -->
      <ng-container matColumnDef="dataNasc">
        <th mat-header-cell *matHeaderCellDef >Data_Ficha</th>
        <td mat-cell *matCellDef="let row">{{row.dataNasc}}</td>
      </ng-container>

      <!-- Numero Item Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef >Numero_Item</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Numero SubItem Column -->
      <ng-container matColumnDef="idSubItem">
        <th mat-header-cell *matHeaderCellDef >Data_Ficha</th>
        <td mat-cell *matCellDef="let row">{{row.dataAtendimento}}</td>
      </ng-container>

       <!-- Sigla Exame Column -->
       <ng-container matColumnDef="sigaExame">
        <th mat-header-cell *matHeaderCellDef >Exame</th>
        <td mat-cell *matCellDef="let row">{{row.siglaExame}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>      
    
  </div>